html {
	background	: grey;
	color		: black;
}
body {
	margin		: 0;
	padding		: 0;
	margin-top	: 20px;
	text-align	: center;
}
#loading {
	font-size	: 80px;
	font-weight	: bold;
	font-family	: Times;
}
