<!DOCTYPE html>
<html><body>
	<!-- include the style -->
	<link  href="runner/runner.css" rel='stylesheet'>
	<!-- include jquery for dom handling -->
	<script src="../www/vendor/bootstrap/docs/assets/js/jquery.js"></script>
	<!-- include jquery for template -->
	<script src="../www/vendor/underscore.js/underscore.js"></script>
	<!-- include benchmark.js for benchmarking -->
	<script src="benchmark.js/benchmark.js"></script>
	<!-- include runner.js for running the benchmark suites -->
	<script src="runner/runner.js"></script>
	<!-- bind buttons -->
	<script>
		jQuery(function(){
			jQuery('#runner .bench').live('click', function(event){
				jQuery('.source', event.currentTarget).slideToggle();
			});
		});
	</script>

	<!-- template for suite header -->
	<script id="tmplSuiteHead" type="text/template">
		<div class="head <%- state %>">
			<h1><%= suite.name %> <span class="run">(run)</span></h1>
		</div>
	</script>
	<!-- template for each benchmark item in a suite -->
	<script id="tmplBenchItem" type="text/template">
		<div class="bench <%- state %>">
			<span class='name'> <%- bench.name %> </span> :
			<%= (bench.hz === 0 ? '' :  Math.floor(bench.hz)+' ops/sec') %> 
			<%= (ratio === null ? '' : Math.floor(ratio*10000)/100+' %') %>
			<span class='viewsource'>(view source)</span>
			<div>
				<pre class="source" style="display: none;"><code><%- fnStr %></code></pre>
			</div>
		</div>
	</script>
	<!-- the runner container -->
	<div id="runner">		
		<ul class="stats">
			<li class="runall">run all</li>
			<li>suites: <span class='nSuites'></span></li>
			<li>benchmarks: <span class='nBenchmarks'></span></li>
		</ul>
		<!-- lots of suite container go here -->
		<div class="suites"></div>
	</div>

	<!-- include specific to tquery -->
	<script src="../build/tquery-bundle.js"></script>
	<!-- include all your suites here -->
	<script src="bench-tquery.selector.js"></script>

</body></html>
